D:/UDEMY/cursoNodeJs/02-clima-app/node_modules/
D:/UDEMY/cursoNodeJs/04-restserver/node_modules/
D:/UDEMY/cursoNodeJs/05-websocket-server/node_modules/
D:/UDEMY/cursoNodeJs/04-restserver/.env
D:/UDEMY/cursoNodeJs/05-websocket-server/.env
D:/UDEMY/cursoNodeJs/07-socket-chat-server/node_modules/
D:/UDEMY/cursoNodeJs/07-socket-chat-server/.env
D:/UDEMY/cursoNodeJs/08-ts-mysql-restserver/node_modules/
D:/UDEMY/cursoNodeJs/09-socket-chat/node_modules/